.EntryCard{
  margin: 15px 0 0 0;
}

.navbar{
  justify-content: space-between !important;
}
.TopHead{
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.LoginForm{
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.TopHead:hover{
  color: white
}
.BottomPad{
  padding: 10%
}

.Address{
  text-align: right;
}

.Footrow{
  height: 10%;
}

.input-group-text{
  width: 6em
}

.AddContat{
  padding-top: 2%
}

.modal-footer {
    justify-content: flex-start !important;
}

.SignupLink{
  margin-top: 10px;
  text-align: center;
  font-weight: lighter;
}

.SignupLink button{
  color: blue;
  font-weight: lighter;
  background: none;
  border: none;
  padding: 0;
}

.errorAlert{
  text-align: center;
  font-size: 2vmin;
  color: red;
  margin-bottom: 15px;
}

.profileButtons Button{
  border: none;
}

.profileButtons Button:hover{
  color: #007bff;
  background-color: transparent;
}

.userprofile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userprofile Button{
  margin-top: 10vh;
  transform: scale(2)
}

.userprofile Button:hover{
  transform: scale(2.1);
}

.Date {
  text-align: center;
}

.Description .ql-container{
  min-height: 10vmax;
}
