body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  background: blue;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 5% 0 5% 0;
  margin: 0;
  color: yellow;
}
.Form{
  padding-top: 4%;
  padding-bottom: 2%;
  text-align:center;
  width: 100%
}

.f-Name{
  margin: 0 5% 2% 5%
}

.f-email{
  margin: 0 5% 2% 5%
}

.Submit{
  background: black;
  border: none;
  transform: scale(1.6);
  color: white;
  font-size: 10px
}
.Table{
  background: #1C1414;
  color: white;
  width: 100%;
}

tbody{
  text-align: center;
}

.Foot{
text-align: center;
}
